.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
}

body {
  font-family: "Bangers", cursive;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 2.5rem;
  margin: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 28px;
}

h2 {
  font-size: 3.5rem;
  margin: 20px;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.col-sm-3 {
  display: block;
  margin: 25px auto;
}

.col-sm-4 {
  display: block;
  margin: 60px auto;
  padding: 0;
}

.col-sm-6 {
  display: block;
  margin: 25px auto;
}

.search-form {
  margin-bottom: 30px;
}

.link-primary {
  font-weight: 600;
}

.temperature {
  font-size: 3.5rem;

  font-weight: 700;
}

.featured h4 {
  position: relative;
  top: -25px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 0.8;
}

.units {
  position: relative;
  top: 20px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 0.8;
}

.featured i {
  font-size: 84px;
  position: relative;
  top: -92px;
  left: 190px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  width: 100%;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures-max {
  font-size: 13px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

footer {
  text-align: center;
}
